QPushButton {
    background-color: rgb(188, 108, 37);
    color: white;
    border: 2px solid #8B4513;
    border-radius: 3px;
}
QPushButton:hover {
    background-color: rgb(205, 133, 63);
}
QPushButton:pressed {
    background-color: rgb(160, 82, 45);
}