QPushButton {
    background-color: rgb(188, 108, 37);
    color: white;
    border: 2px solid #8B4513;
    border-radius: 3px;
    margin: 10%;
    padding: 3%;
}
QPushButton:hover {
    background-color: rgb(205, 133, 63);
}
QPushButton:pressed {
    background-color: rgb(160, 82, 45);
}
QToolBar {
    background-color: #fefae0;
}

QMainWindow {
    background-color: wheat;
}
QMenuBar{
    background-color: rgb(238, 201, 132);

}
QAction {
    background-color: rgb(188, 108, 37);
    color: white;
    border: 2px solid #8B4513;
    border-radius: 3px;
    margin: 10%;
    padding: 3%;
}